<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>925369161510-9o6kj33fpqljvgtsasv4pesf1d34loqh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.925369161510-9o6kj33fpqljvgtsasv4pesf1d34loqh</string>
	<key>API_KEY</key>
	<string>AIzaSyAxbrsb7Bhchi0qeMpeYmx7BQ-VKYIT7Ao</string>
	<key>GCM_SENDER_ID</key>
	<string>925369161510</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rocketHelp</string>
	<key>PROJECT_ID</key>
	<string>rockethelp-8a842</string>
	<key>STORAGE_BUCKET</key>
	<string>rockethelp-8a842.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:925369161510:ios:650cc1522a4095a3bfd3e7</string>
</dict>
</plist>